<link rel="stylesheet" href="/main/css/main_styles.css">
<footer class="footer">
		<nav>
			<div class="footer-cell">
				<h2 class="footer-cell-header">More Info</h2>
				<ul>
					<li class="footer-cell-li">About our company</li>
					<li class="footer-cell-li">Career</li>
					<li class="footer-cell-li">News</li>
					<li class="footer-social-link footer-cell-li">
						<a href="https://zh-hk.facebook.com/">
							<i class="fa fa-facebook"></i>
						</a>
						<a href="https://twitter.com/?lang=zh-tw">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="footer-cell">
				<h2 class="footer-cell-header">Help</h2>
				<ul>
					<li class="footer-cell-li">Cargo problems</li>
					<li class="footer-cell-li">Account problems</li>
					<li class="footer-cell-li">Customer services</li>
				</ul>
			</div>
			<div class="footer-cell-longer footer-cell">
				<h2 class="footer-cell-header">Documentary</h2>
				<div class="longer-cell">
					<ul>
						<li class="footer-cell-li longer-cell-li">Rule of buying stuff</li>
						<li class="footer-cell-li longer-cell-li">Rule of using your account</li>
						<li class="footer-cell-li longer-cell-li">Rule of scraping this web</li>
					</ul>
					<ul>
						<li class="footer-cell-li longer-cell-li">HK law</li>
						<li class="footer-cell-li longer-cell-li">Protect your rights</li>
					</ul>
				</div>
			</div>
		</nav>
	</footer>