 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>Home</title>
 </head>
 <body>
 	<% for(var i=0; i<name.length;i++) {%>
 		 <section class="item-section">
 		 	<figure><img class="item-img" src='<%= image[i]%>' alt="item"></figure>
 		 	<div class="item-body">
				<h3 class="item-name"><%=name[i]%></h3>
				<div class="item-price"><%=price[i]%> HKD</div>
			</div>
		</section>
	<% } %>
	<br>
	<button class="pay-btn">Payment</button>
 	<br>
 	<button class="clear-btn">Clear Cart</button>
 	<br>
 	<button class="drop-btn">Drop Cookie</button>
 	<br>
 	<a href="/main.php">Return</a>
 </body>
 <script src="../jquery-3.3.1.js"></script>
 <script>
 	$(document).ready(function(){
 			$('.pay-btn').click(function(){
 				$.get("/user/payment");
 			})
			$('.clear-btn').click(function(){
				clear = {'boolean':"1"};
				$.get("../cart/cart_clear.php",clear );
				alert("clear cart");
			})
			$('.drop-btn').click(function(){
				clear = {'boolean':"2"};
				$.get("../cart/cart_clear.php",clear );
				alert("drop cookie");
			})
		})
 </script>
 </html>